.header {
  display: flex;
  justify-content: space-between;
  grid-area: h;
  margin-bottom: 5px;
  background-color: rgba(255, 182, 193, 0.644);
  border-radius: 0 0 15px 15px;
}
.header img {
  margin: 13px;
  width: 100px;
}