.content {
  color: #54a19f;
  grid-area: c;
  background-color: #fffdd0bd;
  background-image: url(https://i.ibb.co/VQdtDJb/jsxpng.png);
  background-size: 90%;
  background-position: top center;
  background-repeat: no-repeat;
}