.app-wrapper {
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "p n"
    "f f" ;

  grid-template-rows: 70px 1fr;
  grid-template-columns: 10fr 2fr;
  background-color: rgba(166, 231, 247, 0.219);
}