.grid{
  display: -ms-grid;
  display: grid;
}
.app-wrapper {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: rgba(166, 231, 247, 0.219);
}


.header {
  grid-area: h;
  margin-bottom: 5px;
  background-color: rgba(255, 182, 193, 0.644);
}
.header img {
  margin: 13px;
  width: 100px;
}
.nav {
  margin-right: 5px;
  grid-area: n;
  background-color: lightsteelblue;
}
.nav div {
  outline: 1px solid lightyellow;
}
.nav div a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.nav div:hover {
  background-color: rgb(144, 186, 240);
  transition: 0.6s;
}
.content {
  color: #54a19f;
  grid-area: c;
  background-color: #fffdd0bd;
  background-image: url(https://i.ibb.co/VQdtDJb/jsxpng.png);
  background-size: 90%;
  background-position: top center;
  background-repeat: no-repeat;
}
