.app-wrapper {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: rgba(166, 231, 247, 0.219);
}